<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true"
        stopOnFailure="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">src</directory>
        </whitelist>
      </filter>

    <logging>
        <log type="testdox-text" target="./tests/tests-report.txt"/>
        <log type="coverage-text" target="./tests/coverage-report.txt" showUncoveredFiles="true"/>
    </logging>
</phpunit>